doctype html
// index.html
head
  meta(charset='utf-8')
  title Flexy
  meta(name='description' content='Album')
  meta(name='author' content='Üren Kanaatlı')
  link(rel='stylesheet' href='static/_grid.css')
  link(rel='stylesheet' href='static/album.css')
  script(src='static/core-min.js')
  script(src='static/album-min.js')
 
section.container
  h1 Galeri 
  a(href="/Logout") Çıkış Yap
  .row.u-border
    .col-sm-12.col-md-4.col-lg-4.col-xs-12.u-border-right
     nav
      ul
       for n in albums
        li.galerylinkitem      
          a.galerya(onclick=`getImages(${n.id},this)`)= n.title
      
    .col-sm-12.col-md-8.col-lg-8.col-xs-12
      #photoarea.row.u-align-itemscenter.u-justify-contentcenter
  .row.u-border.bigimagecontainer
    .bigimage