for photo in photos
 .col-md-3.col-sm-6.col-xs-6.photoitem
  .card.inloading(onclick=`getBigImage(this)`,data-url=`${photo.url}`)
    .imagewaitloader
      .spinner-border.text-primary(role='status')
    img#image_1.card-img-top(src=`${photo.thumbnailUrl}`, alt=`${photo.title}`)
.bigphoto


