doctype html
head
  meta(charset='utf-8')
  title Kullanıcı Girişi
  link(rel='stylesheet' href='static/login.css')
.container-login100
    .wrap-login100.login-form      
      span.login100-form-title-1
          | Giriş Yap
      form.login100-form.validate-form(action='Login' method='POST')
        .wrap-input100.validate-input.m-b-26(data-validate='Username is required')
          span.label-input100 Username
          input.input100(type='text',name='username',placeholder='Kullanıcı Adı',required,value=username)
          span.focus-input100
        .wrap-input100.validate-input.m-b-18(data-validate='Password is required')
          span.label-input100 Password
          input.input100(type='password',name='password',placeholder='Şifre',required)
          span.focus-input100
        .container-login100-form-btn
          if error
           .error hata
          input(type='submit')
