
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul *
{
    padding: 0;
    margin: 0;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    
  

}
.album.is-active
    {
        border: 1px solid #283e4a;
        transform: scale(1.2);
    }

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}


.photoitem:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.photoitem {
    transition: all 0.3s ease-in-out;
    padding: 10px;
}


@media (min-width: 768px) {
    .card.inloading
    {
        min-height:150px !important;
    }
}
.card.inloading {
    min-height: 300px;
}


.u-align-itemscenter
{
    align-items: center;
}

.u-justify-contentcenter
{

justify-content: flex-start;
}


@media (min-width: 1200px)
{
.container {
    max-width: 1140px;
}

}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.imagewaitloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    /* max-width: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.text-primary {
    color: #007bff!important;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
  



@media (min-width: 576px)
{
.container {
    max-width: 540px;
}
}

@media (min-width: 768px)
{
.container {
    max-width: 720px;
}
}


@media (min-width: 992px)
{
.container {
    max-width: 960px;
}
}

.u-border
{
    border: 1px solid #dfdfdf;
}

.u-border-right
{
    border-right: 1px solid #dfdfdf;
}

.galerylinkitem
{
    border-bottom: solid 1px #dfdfdf;
    display: block;
    position: relative;
    &:hover
    {
        background-color: #f3f3f3;
        color: #283e4a;
        cursor: pointer;
    }
    a{
        padding: 10px 0 10px 20px;
        display: block;
    }
    .is-active
    {
        background-color: #f0fcfa;
    }
    .is-active::before
    {
        content: " ";
        position: absolute;
        left: 0;
        height: 100%;
        width: 4px;
        z-index: 1;
        top: 0px;
        background-color: #283e4a;
    }
}

.loaderarea
{
    width: 100%;
    text-align: center;
    padding: 25px;
}

.bigimagecontainer img
{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.checkmark{
    display:inline-block;
    
    &:after{
      content: '';
      display: block;
      width: 22px;
      height: 49px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      top: -9px;
      position: relative;
    }
}

